@import "tailwindcss";

:root {
  --font-helvetica-neue: 'Helvetica Neue', sans-serif;
}

body {
  font-family: var(--font-helvetica-neue);
}

/* Font Styles */
.font-helvetica {
  font-family: var(--font-helvetica-neue);
  font-style: normal;
}